.vs
.vscode
.project
bin
obj
x64

Tests/MaplestoryBotNetTests/.vs
Tests/MaplestoryBotNetTests/.vscode
Tests/MaplestoryBotNetTests/.project
Tests/MaplestoryBotNetTests/bin
Tests/MaplestoryBotNetTests/obj
Tests/MaplestoryBotNetTests/x64

ArrayFireNCC/.vs
ArrayFireNCC/.vscode
ArrayFireNCC/.project
ArrayFireNCC/bin
ArrayFireNCC/obj
ArrayFireNCC/x64

Interception.net